

body
{
	background-color: blue;
}

.box
{
	background-color: white;
	height: 400px;
	width:400px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 120px;
	padding: 50px;


}
h1
{
	text-align: center;
}
